{{ $id := default "basicform" (.Get 0) }}{{ $button_name := default "Submit" (.Get 1) }}
<div id="loadingScreen" style="display:none; z-index:1000; color:#fff; padding:80px; text-align:center; font-size:40px; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,0.8)">
	<div id="preparingData" style="padding-top:200px">Preparing data...</div>
	<div id="successData" style="padding-top:200px">
		<div><i class="fas fa-check-circle text-success"></i> User successfully enrolled!</div>
		<div class="formReset btn btn-outline-light">OK</div>
	</div>
</div>
<input type="hidden" id="accessKey" value="0073d362-3256-4706-979c-69960d8620ba">
<label for="fname">First name:</label> <input type="text" id="firstName" placeholder="Your First Name" required>
<label for="fname">Last name:</label> <input type="text" id="lastName" placeholder="Your Last Name" required>
<label for="fname">Country:</label><input type="text" id="country" placeholder="Country" required>
<label for="fname">Company name:</label><input type="text" id="companyName" placeholder="Company" required>
<label for="fname">email:</label>
<input id="userEmail" type="text" class="form-control" placeholder="Type user's email address to enroll (e.g., john.doe@aws.com)" style="margin-bottom:10px; margin-top:10px" required/>
<button id="inviteUserBtn" class="btn btn-primary" style="margin-top:10px; background-color: #9C6FB6">Enroll User</button>
<script src="/js/reg.js"></script>